.menu {
	border-radius: 30px;
	width: 80px;
	height: 50px;
	font-family: 'Montserrat-SemiBold';
	font-size: 16px;
	color: whitesmoke;
	cursor: pointer;
	transition: background-color 200ms ease-in-out;
	background: #807D7D;
}

.menu:hover, menu:focus, menu:active {
	background-color: #807D7D;
	color: rgba(255, 255, 255, 0.9);
}
