@font-face {
	font-family: 'Bad Comic';
	src: url('./assets/fonts/AnyConv.com__Bad\ Comic.eot');
	src: url('./assets/fonts/AnyConv.com__Bad\ Comic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/AnyConv.com__Bad\ Comic.woff2') format('woff2'),
		url('./assets/fonts/AnyConv.com__Bad\ Comic.woff') format('woff'),
		url('./assets/fonts/Bad\ Comic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('./assets/fonts/Montserrat-Medium.eot');
	src: url('./assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Montserrat-Medium.woff2') format('woff2'),
		url('./assets/fonts/Montserrat-Medium.woff') format('woff'),
		url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('./assets/fonts/Montserrat-SemiBold.eot');
	src: url('./assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
		url('./assets/fonts/Montserrat-SemiBold.woff') format('woff'),
		url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: 'DOCKER';
	src: url('./assets/fonts/AnyConv.com__Docker.eot');
	src: url('./assets/fonts/AnyConv.com__Docker.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/AnyConv.com__Docker.woff2') format('woff2'),
		url('./assets/fonts/AnyConv.com__Docker.woff') format('woff'),
		url('./assets/fonts/Docker.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noah Bold Italic';
	src: url('./assets/fonts/AnyConv.com__Noah\ Bold\ Italic.eot');
	src: url('./assets/fonts/AnyConv.com__Noah\ Bold\ Italic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/AnyConv.com__Noah\ Bold\ Italic.woff2') format('woff2'),
		url('./assets/fonts/AnyConv.com__Noah\ Bold\ Italic.woff') format('woff'),
		url('./assets/fonts/Noah\ Bold\ Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noah Regular';
	src: url('./assets/fonts/AnyConv.com__Noah\ Regular.eot');
	src: url('./assets/fonts/AnyConv.com__Noah\ Regular.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/AnyConv.com__Noah\ Regular.woff2') format('woff2'),
		url('./assets/fonts/AnyConv.com__Noah\ Regular.woff') format('woff'),
		url('./assets/fonts/Noah\ Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
