.logoAll {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 30%;
}

.logoName {
	margin: 0;
	font-family: 'Bad Comic';
	font-style: italic;
	font-weight: 400;
	font-size: 22px;
	color: #000000;
}

.header {
	padding: 20px 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #E5E5E5;
}
